body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family:  'Roboto Slab', 'Oswald', 'Lato', 'Bebas Neue', 'Montserrat', 'Raleway', sans-serif;
}

button {
    border-radius: 7px;
    font-weight: 600;
    color: #e5e7eb;
    background-color: #3883f6 ;
    text-align: center;
    border: 2px solid white;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Start of container 1*/
.cont1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.content-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content-left button {
    width: 20%;
    height: 10%;
    font-size: 100%;
    border: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.header-link {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 25px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.awesome-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 7px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 7px;

}

.img {
    background-color: rgb(133, 133, 133);
    width: 50%;
    height: 300px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* End of container 1 */

/* Start of container 2*/
.cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    margin-bottom: 10%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 40px;
    justify-content: space-around;
}

.card {
color: rgb(75, 85, 99);
display: flex;
flex-direction: column;
gap: 10px;
}

.placeholder {
    width: 200px;
    height: 200px;
    color: white;
    border: 5px solid #3883f6 ;
    border-radius: 20px;
}

.placeholder-text {
    display: flex;
    justify-content: center;
    max-width: 210px;
}
.cont2-header {
    font-size: 36px;
    font-weight: 900;
    color: rgb(12.2, 16.1, 21.6)
}

.card-container {
    display: flex;
    justify-content: space-evenly;

}
/* End container 2*/

/* Start container 3 */
.cont3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    justify-content: center;
}


.quote-text {
    position: relative;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 1px;
}

.author {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5%;


}
/* End container 3 */

/* Start container 4 */
.cont4 {
    display: flex;
    justify-content: center;
    color: white;
}
.blue-box {
    background-color: #3883f6;
    width: 81%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cta {
    font-size: 22px;
    font-weight: 900;
}

.blue-box button {
    width: 10%;
    height: 25%;
    font-size: 100%;
}
/* End container 4 */

footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    padding: 20px;
    margin-top: auto;
}

/* I know it's gross but it's the best I can do */
/* Wrapper to make the "author" line up with the text correctly */
.abc {
    display: flex;
    width: 823px;
    justify-content: flex-end;
}